* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

header {
  background-color: #333;
  height: 50px;
  color: #FFF;
  margin-bottom: 10px;
}

header h1 {
  font-size: 32px;
  vertical-align: middle;
}

.container {
  width: 60%;
  height: 100%;
  margin: 0 auto;
}

section h2 {
  border-bottom: 1px solid #CCC;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse; /* Para tirar o espaçamento entre as células da tabela */
}

th {
  background-color: #EEE;
}

td, th {
  padding: 12px;
	border: 1px solid #ccc;
  text-align: center;

}

#adicionar-paciente {
  margin-top: 30px;
}

form {
  display: flex;
  justify-content: space-between;
}

.adicionar-paciente_input label {
  display: flex;
  flex-direction: column;
  color: #555;
  margin-bottom: 5px;
}

.adicionar-paciente_input input {
	border: 1px solid #ccc;
  padding: 10px 15px;
  width: 250px;
}

/* .btn-adicionar {
  margin-top: 10px;
  padding: 10px 15px;
  border: 0;
  border-radius: 5px;
  background-color:#0c8cd3;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: 300ms;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.btn-adicionar:hover {
  background-color:#04324c;

} */

.btn {
  margin-top: 10px;
  padding: 10px 15px;
  border: 0;
  border-radius: 5px;
  background-color:#0c8cd3;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: 300ms;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background-color:#04324c;

}

.paciente-invalido {
	background-color: lightcoral;
}

#mensagens-erro {
	color: red;
}

.fadeOut {
	opacity: 0;
	transition: 0.5s;
}

#filtrar-tabela {
	width: 200px;
	height: 35px;
	margin-bottom: 10px;
}

.invisivel {
	display: none;
}

@media screen and (max-width: 1440px) {
  form {
    display: block;
  }

  .adicionar-paciente_input {
    margin: 10px 0;
  }

 .adicionar-paciente_input input {
   width: 100%;
 }
}

@media screen and (max-width: 768px) {
  header h1 {
    font-size: 24px;
  }

  section h2 {
    font-size: 16px;
  }

  .container {
    width: 90%;
  }
}
